---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/ContactForm.astro';
import BottomNav from '../components/BottomNav.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import Footer from '../components/Footer.astro';
import FAQ from '../components/Faq.astro';
import ZonasTrabajo from '../components/ZonasTrabajo.astro';
import '../styles/global.css';
---

<Layout 
  title="Contacto - Estepa Reformas"
  description="Solicita tu presupuesto gratuito. Te respondemos en menos de 24 horas."
>
  <Header />
  
  <main class="min-h-screen pb-24 pt-8">
    <ContactForm />
  </main>
  
  <FAQ />
  <ZonasTrabajo />
  <Footer />
  <WhatsAppButton phoneNumber="34600123456" />
  <BottomNav currentPath="/contacto" />
</Layout>