# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker / devcontainer
.devcontainer/.devcontainer.json

# Node/Astro (aunque el proyecto esté en /app)
**/node_modules/
**/.astro/
**/dist/
**/.env
**/.env.*
