@import "tailwindcss";

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    min-height: 100dvh;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}