@import "tailwindcss";

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  html, body {
    overflow-x: hidden;
    max-width: 100vw;
  }

    * {
    max-width: 100%;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}